@inherits ToSic.Sxc.Dnn.RazorComponent

<link rel="stylesheet" href="@App.Path/dist/styles.min.css" data-enableoptimizations="true">

<div class="image-wrapper" @Edit.TagToolbar(Content)>
    <div class="hotspots">
        <div class="hotspot"></div>
    </div>
    <img src="@Content.Image">
</div>

<hr>
<h2>Todo</h2>
Find best way to put the markers on the image. Very likely using JS, because otherwise the image size/responsive will cause positioning problems? Then generate the coordinates etc. from the data