@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  var hotspotsSettings = DynamicModel.HotspotsSettings;

  var hotspotToolbar = Kit.Toolbar.Default().Delete();
}
@* This creates the hidden layers which will appear when hotspots are clicked *@
@foreach (var hotspot in hotspotsSettings.Hotspots) {
  var imgIsAbove = hotspot.OverlayLayout == "img/text"; // alternative is img-text
  var layoutClass = imgIsAbove ? "" : "display-flex-row";

  // Set image height / width based on layout type
  var imageWidth = (int)hotspotsSettings.OverlayImageMaxWidth * (imgIsAbove ? 1 : 0.75);
  var imageHeight = (int)hotspotsSettings.OverlayImageMaxHeight * (imgIsAbove ? 0.7 : 1 );

  var toolbar = Content.IsDemoItem ? "" : hotspotToolbar.For(hotspot);
  <div id="hotspot3-content-@hotspot.EntityId-@CmsContext.Module.Id" class="hotspot3-fancybox-content" style="display: none" @toolbar>
    <div class="@layoutClass">
      @if (Text.Has(hotspot.Image)) {
        <div>
          @{
            var pic = Kit.Image.Picture(hotspot.Field("Image"), settings: Settings.Images.Lightbox, width: imageWidth, imgAltFallback: hotspot.Title);
            pic.Img.Height(imageHeight.ToString());
          }
          @pic
        </div>
      }

      @if (Text.Has(hotspot.Description)) {
        <div class="hotspot3-fancybox-text">
          @Html.Raw(hotspot.Description)
        </div>
      }
    </div>
  </div>
}